@import 'variables';
@import '../sass-vivvo/variables';

// ********************************************************************
// Styles made and used specifically for C1 pages.
// ********************************************************************

.dashboard-navigation {
    background: $white;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #E0E4E6;

    .nav-tabs {
        align-items: center;
        flex-wrap: nowrap;
        border: none;
    }

    .nav-item {
        margin-bottom: 0;

        &:first-of-type {
            flex: 0 0 25%;
        }
    }

    .nav-link {
        display: inline-flex;
        align-items: center;
        height: 60px;
        border: none;
        border-radius: 0;
        color: $body-color;
        font-size: 14px;
        font-weight: 500;

        .nav-link-icon {
            margin-right: 0.5em;

            svg {
                fill: $body-color;
            }
        }

        &:hover {
            background: darken($theme-background, 5%);
            color: $heading-color;

            .nav-link-icon svg {
                fill: $heading-color;
            }
        }

        &.active {
            background: $theme-background;
            color: $heading-color;

            .nav-link-icon svg {
                fill: $heading-color;
            }
        }
    }


    .dashboard-user {
        display: inline-flex;
        align-items: center;
        padding-left: 15px;
    }

    .user-avatar {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 2.75em;
        height: 2.75em;
        margin-right: 1em;
        border-radius: 100%;
        border: 2px solid $theme-primary;
        color: $theme-primary;
        font-weight: 500;
        font-size: 1.125em;
    }

    .user-info {
        h6 {
            margin-bottom: 0;
        }

        .user-info-email {
            font-size: 11px;
        }
    }

    @media(max-width: 991.98px) {
        .nav-item:first-of-type {
            flex: 0 0 30%;
        }
    }

    @media(max-width: 767.98px) {

        .nav-item {
            //flex: 1;
            &:first-of-type {
                flex: 0 0 auto;
            }
        }

        .nav-link {
            justify-content: center;
            width: 100%;
            min-width: 100%;
            padding: 0.5em 1em;
        }

        .dashboard-user {
            margin-right: 0;
        }

        .user-avatar {
            margin-right: 0.5em;
        }

        .user-info {
            display: none;
        }
    }

    @media(max-width: 575.98px) {
        .nav-item {
            flex: 1;

            &:first-of-type {
                flex: 0 0 auto;
            }
        }

        .nav-link {
            padding: 0.5em;
        }
    }
}

// global styles for platform

.co-header {
    padding-top: $gnl-size-3;
    padding-bottom: $gnl-size-3;
}

.co-title {
    margin-top: $gnl-size-3;
    margin-bottom: $gnl-size-2;
}

// services page

.co-card-notification {
    &__icon {
        text-decoration: none;
    }
}

// account page