@import 'variables';

.gnl-expansion-panel {
    $block: &;

    &--collapsed {
        #{$block}__body {
            display: none;
        }
    }

    &__summary {
        position: relative;
        width: 100%;
        padding: 0;
        margin-top: $gnl-size-2;
        margin-bottom: 0;

        &:hover {
            #{$block}__button-text {
                background-color: $gnl-color-blue-light;
                text-decoration: underline;
            }
        }
    }

    &__body {
        margin: $gnl-size-2 0;

        > :first-child {
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }

    &__icon {
        position: absolute;
        right: 0;
        color: $gnl-color-gray-9;
    }

    &__button-text {
        color: $gnl-color-brand-blue;

        &:hover {
            background-color: $gnl-color-blue-light;
            text-decoration: underline;
        }
    }
}
