@import "variables";

.gnl-expansion-panel {
    $block: &;

    &--collapsed {
        #{$block}__body {
            display: none;
        }
    }

    &__summary {
        position: relative;
        width: 100%;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;

        &:hover,
        &:active,
        &:focus {
            #{$block}__button-text {
                background-color: $gnl-color-blue-light;
                text-decoration: underline;
            }
        }
    }

    &__body {
        margin: $gnl-size-2 0;

        > :first-child {
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }

    &__icon {
        color: $gnl-color-brand-blue;
    }

    &__button-text {
        color: $gnl-color-brand-blue;
    }
}
