@import 'variables';

.gnl-tabs {

    &.nav-pills {

        .nav-link {
            border-bottom: 0;
            background-color: transparent;
            border-radius: 0;
            text-decoration: none;
            color: $gnl-color-gray-11;
            border-bottom: 4px solid transparent;
            padding-top: $gnl-size-2;
            padding-bottom: $gnl-size-2;

            &.active {
                background-color: $gnl-color-blue-light;
                font-weight: $gnl-font-weight-bold;
                color: $gnl-color-brand-blue;
                border-bottom-color: $gnl-color-brand-blue;
            }

            &:hover {
                background-color: $gnl-color-gray-2;
            }
        }
    }

    &--responsive {
        &.nav-pills {
            border-bottom: 1px solid $gnl-color-gray-4;
    
            @media (min-width: 840px) {
                border-bottom: 0;
            }
    
            .nav-link {
                
                @media (min-width: 840px) {
                    border-left: 4px solid transparent;
                    border-bottom: 0;
                }
    
                &.active {
    
                    @media (min-width: 840px) {
                        border-bottom: 0;
                        margin-left: 0;
                        border-left: 4px solid $gnl-color-brand-blue;
                    }
                }
            }
        }
    }
}