.section-login {

  .login {

    .login-forgot-password-link {
      margin-bottom: 1em;
    }

    .login-button-container {
      p {
        margin: 1em auto;
        text-align: center;
      }
    }

    @media(max-width: 575.98px) {
      .login-button-container {
        p {
          margin-top: 0;
        }
      }
    }
  }
}
