.section-reset-password {

  .reset-password {
    .button-container {
      margin-bottom: 2em;
    }

    .button-wrapper {
      p {
        margin-bottom: 0;
      }
    }

    @media(max-width: 575.98px) {
      .button-wrapper p {
        margin-bottom: 0.25em;
      }
    }
  }
}
