$theme-font: 'Lato', sans-serif;
$awesome: FontAwesome;

$body-color: #4D4E4E;
$heading-color: #2F3030;

$theme-primary : #1A5D93;
$theme-primary-dark : #004B87;
$theme-primary-grey: #7B8F9B;

$theme-background: #F5F6F8;
$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

$theme-grey: #5f6368;
$theme-medium-grey : #e0e4e6;
$theme-light-grey: #f1f3f4;

$theme-red: #A94442;
$theme-green: #3C763D;

$white: #ffffff;
$black: #000000;

$transition-base: 0.3s ease;

//to be removed
$theme-primary-text: #334D6E;


