.section-actions-unlink {
  .section-actions-unlink-header {
    margin-bottom: 1.5em;
  }

  .section-actions-unlink-content {
    h6 {
      margin-bottom: 1em;
    }

    .icon-block {
      p {
        margin-bottom: 0;
        font-weight: 500;
      }
    }
  }

  .section-actions-unlink-footer {
    margin-bottom: 1.5em;
  }


}